*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1200px;
    margin:auto;
    overflow: hidden;
}
.header{
    width: 100%;
    height: 600px;
    background: linear-gradient(to right, #52796f, #354f52, #2f3e46); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

body{
        background-color: #84a98c;

}

.color-personalizado {
    color: #354f52;
}



.fondo-personalizado {
    background-color: #CAD2C5FF;
}
.wave{
    position:absolute;
    bottom:0;
    width: 100%;
}
header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.textos-header h1{
    font-size: 60px;
    color: #fff;
}
.textos-header h2{
    padding: 40px;
    font-size: 20px;
    font-weight: 300;
    color: #fff;
}
nav{
    padding: 30px 50px 0 0;
    color: #cad2c5;
}

.contenedor-Acerca-de {
    
    display: flex;
    justify-content: space-evenly;
    text-align: justify;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.imagen-centrada {
    display: block;
    margin: 0 auto; /* Centra horizontalmente */
    max-width: 300px; /* Cambia el tamaño máximo según tus necesidades */
    height: auto; /* Mantiene la proporción de aspecto original */
}

.titulo {
    margin-bottom: 40px;
}
.imagen-Acerca-de {
    max-width: 100%;
    height: 300px;
    width: 300px;
    margin-right: 178px;    
    margin-bottom: 20px;
}

