<html>
    <head>
        <!-- Import Vis JS Network -->
        <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
        
        <!-- Import Application CSS-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/application.css') }}">
    </head>
    <body>
        <div id="network"></div>
        <div id="matrix">
            <table id="matrix-body"></table>
        </div>
        
        <!-- Import Application JS -->
        <script type="module" src="{{ url_for('static', filename='js/application.js') }}"></script>
    </body>
</html>