<html>
    <head>
        <!-- Import Vis JS Network -->
        <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
        
        <!-- Import Application CSS-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/application.css') }}">
    </head>
    <body>
        <div class="info-head">
            Se tiene una matriz simétrica con dimensiones <i>n x n</i>, el cual está definida entre los valores [5; 15]. <br/>
            Por favor, seleccione la dimensión que debería tener la matriz:
            <select id="select-matrix-dimension">
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
            </select>
            <button id="button-generate-nodes">Generar</button>
        </div>
        <div id="network"></div>
        <div id="matrix">
            <table id="matrix-body"></table>
        </div>
        
        <!-- Import Application JS -->
        <script type="module" src="{{ url_for('static', filename='js/application.js') }}"></script>
    </body>
</html>