<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="{{url_for('static', filename='css/Estilos.css')}}">
</head>
<body>
    <header class="header">
        <nav class="flex justify-center space-x-8">
                <a href="/" class="text-lg font-semibold hover:text-gray-200 transition duration-300">Inicio</a>
                <a href="/application" class="text-lg font-semibold hover:text-gray-200 transition duration-300">Aplicación</a>
                <a href="/about" class="text-lg font-semibold hover:text-gray-200 transition duration-300">Acerca de</a>
        </nav>
        <section class="textos-header text-center absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
                <h1 class="text-4xl font-bold mb-4">Algoritmo de Dijkstra</h1>
                <h2 class="text-xl">Encuentra el camino más corto con eficiencia</h2>
        </section>
        <div class="wave absolute bottom-0 left-0 right-0">
                <svg viewBox="0 0 500 150" preserveAspectRatio="none" class="h-16 w-full">
                    <path d="M-5.64,33.06 C86.34,-58.69 315.46,110.05 500.00,49.98 L588.03,174.19 L0.00,150.00 Z" style="stroke: none; fill: #84a98c;"></path>
                </svg>
        </div>
    </header>
    <main class="container mx-auto p-20">
    <section class="grid grid-cols-1 sm:grid-cols-2 gap-8 mx-4">
        <div class="fondo-personalizado p-4 rounded-lg">
            <h2 class="titulo text-3xl text-center font-bold color-personalizado">Acerca de Dijkstra</h2>
            <p style="text-align: justify;">
El algoritmo de Dijkstra busca el camino más corto entre un punto de inicio y otros puntos en un grafo con aristas de peso. Explora minuciosamente todas las rutas posibles desde el punto de inicio hasta los demás puntos y detiene cuando encuentra la ruta más corta. No es adecuado para grafos con costos negativos.
            </p><br>
            <img src="static/img/dijkstra.gif" alt="Aplicacion del algoritmo del camino mas corto" class="imagen-centrada w-full">
        </div>
        <!-- Grilla Fondo Original -->
        <div class="fondo-personalizado p-4 rounded-lg">
            <h2 class="titulo text-3xl text-center font-bold color-personalizado">Historia</h2>
            <p style="text-align: justify;">
            Edsger W. Dijkstra desarrolló el algoritmo de Dijkstra en 1956 mientras trabajaba en la Universidad Técnica de Eindhoven en los Países Bajos, para encontrar rutas más cortas en carreteras, pero luego se dio cuenta de sus usos en ciencia de la computación y otros campos.
            </p><br>
            <img src="static/img/edger.jpg" alt="Edger Dijkstra, inventor del algoritmo" class="imagen-centrada w-full">
        </div>
    </section>
    </main>

    <footer class="bg-gray-800 text-white text-center py-4">
        <p>© 2023 Grupo 2 Mate Computacional</p>
    </footer>
</body>
</html>